/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
/*html {overflow-y:scroll;}*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:14px/1.7 '微软雅黑',tahoma,arial,\5b8b\4f53}
html,body{height: 100%;}
h1,h2,h3,h4,h5,h6{font-size:100%}
ul,ol{list-style:none}
li{list-style:none;float:left;}
a{text-decoration:none}
a:hover{text-decoration:underline}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
hr {border: none; height: 1px;}
label{display: inline;}
input,textarea{border-radius:3px;border:none;/* background:#f2f2f2; */background:#C7DFD1;}
button,.subm_btns{border-radius:5px;border:none;color:#f2f2f2;background:#1ABC9C;padding:0 6px;font-size:14px;}

.clear{clear: both;}
.clearspan{clear:both;display:block;}
.error{color:#ff0000;}
/*body{background:#8FDABA;}*/
.submits{/*background:#CCE8CF;color:#CCE8CF;*/border:none;border-radius:3px;padding:0 6px;}
.blank5{clear:both;height:5px;}
.blank10{clear:both;height:10px;}
.blank20{clear:both;height:20px;}
.blank50{clear:both;height:50px;}
#top_body{overflow-y:hidden;}
.main_body input[type='text']{height: 28px;}


/*管理员登录*/
.loginwrap{width:100%;height:100%;background:#8FDABA;}
.loginform{width:500px;height:300px;background:#1ABC9C;position:absolute;left:50%;top:50%;margin-left:-250px;margin-top:-150px;padding-top:20px;padding-bottom:12px;text-align: center;border-radius:5px;}
.loginfields{height:38px;margin:28px 10px;}
.loginfields input{width:445px;height:100%;padding-left: 5px;}
.logincode ul{margin:24px 15px;}
li.codeinput{height:38px;}
li.codeinput input{width:315px;height: 38px;}
li.codeimg{height:38px;float: right;}
li.codeimg img{width:100px;height:38px;cursor:pointer;}
img#refCode{width:25px;height:22px;}


header.header{width: 100%;background: #075A5F;}
nav.topnav{vertical-align: middle;font-size: 16px}
ul.topul li{border-right:1px solid #06393b;border-bottom:1px solid #06393b;}
ul.topul li:hover{background:#07494C;}
ul.topul li a{color:#fff;display:block;padding: 8px 12px;}
ul.topul li a:hover{text-decoration: none;}
li#adminInfo,li#logout{color:#fff;border-right: none;}
#adminInfo,#logout{font-size:14px;float:right;margin-top:16px;}
#adminInfo a,#logout a{padding:2px 8px;margin:auto;text-align: center;float: left;vertical-align:bottom;}
ul.subul{position:absolute;margin-left:-1px;margin-top:1px;display:none;}
ul.subul li{border-left:1px solid #06393b;float: none;background: #075A5F;}

section.main_left{float: left;width:168px;position:absolute;z-index:1;height:100%;background:#8FDABA;/*overflow:scroll;*/}
#loader_left{height:100%;}
ul.leftul{margin-top:16px;float:left;margin-left:5px;}
ul.leftul li{float: none;}
ul.leftul>li>a{display:block;color:#fff;background:#1ABC9C;border-radius:3px;padding:0 14px 0 5px;margin:6px 0;width:140px;}
ul.leftul li font{display:block;float:left;width:15px; height:15px;font-size:15px;}
/*ul.leftul>li a{cursor: default;}*/
ul.leftul li a:hover{background:#0b7076;text-decoration:none;}
.leftsubul{margin-left:12px;display:none;}
.leftsubul li{white-space:nowrap;}
.leftsubul li a{background: #1ABC9C;display:block;padding:0 5px;border-radius:3px;margin:5px 0;color:#f2f2f2;}
section.main_right{float: left;background: #CCE8CF;/*min-height:450px;*/width: 100%;position: absolute;height: 100%;overflow-y:hidden;}
#loader_right{height:100%;}
.right_wrap{margin-left:16px;margin-top:5px;margin-left: 175px;}
.col_note{line-height:20px;border-radius:3px;background:#1ABC9C;height:24px;padding-left:8px;padding-top:4px;margin-top: 2px;}
.col_note li,.col_note li a{color:#f2f2f2;}
#skey{margin-left:10px;height:18px;padding-left:3px;font-size:10px;}
.sbtn{/*width: 36px;*/font-size:12px;height:18px;}
li#qucikitems{float: right;margin-right: 10px;}

.main_body{margin-top:8px;}
ul.body_menutab li{padding:0 15px;background:#1ABC9C;border-right:1px solid #C9F1FF;color:#f2f2f2;border-radius:3px;cursor:default;}
.wrap_post{border:1px solid #1ABC9C;padding:5px;margin-right: 5px;}
table textarea{width:800px;height:350px;padding:3px 6px;background:#C7DFD1;}
#sysconf table textarea{width:600px;height:80px;padding:3px 6px;background:#C7DFD1;}
/*#sysconf table td.post_r{text-align:left;}*/
table.post_tb{width: 100%;}
table.list_tb{text-align:center;}
table.list_tb a{text-align:center;color:#16a085;}
.tr_th th{background:#1ABC9C;padding:4px 0;color:#f2f2f2;}
table.list_tb td{color:#075A5F;}
/*checkbox美化*/
.c_box{display: none;}
.c_box + label{
	/*background-color: #fafafa;*/
	/*background-color: #fafafa;*/
	/*background-color: #ECECEC;*/
	background-color: #C7DFD1;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.c_box + label:active, .c_box:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.c_box:checked + label {
	/*background-color: #e9ecee;*/
	background-color: #1ABC9C;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.c_box:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	/*color: #99a1a7;*/
	color: #f2f2f2;
}
/*checkbox美化结束*/
/*radio美化*/
.r_dio {
	display: none;
}
.r_dio + label {
	-webkit-appearance: none;
	background-color: #C7DFD1;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 8px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	top:4px;
}
.r_dio:checked + label:after {
	content: ' ';
	/*width: 12px;*/
	/*height: 12px;*/
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #1ABC9C;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 26px;
}
.r_dio:checked + label {
	background-color: #1ABC9C;
	color: #adb8c0;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
.r_dio + label:active, .r_dio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
/*radio美化结束*/
table.post_tb td{height:30px;padding:4px 0;font-size:14px;}
table.post_tb td .input600{width:600px;padding-left:6px;}
table.post_tb td .input400{width:400px;padding-left:6px;}
table.post_tb td .input300{width:300px;padding-left:6px;}
table.post_tb td .input120{width:120px;padding-left:6px;}
table.post_tb td .input80{width:80px;padding-left:6px;}
table.post_tb td .input40{width:40px;padding-left:6px;}
table.post_tb td select{padding:0 6px;background:#C7DFD1;border:none;height:28px;}
.post_action{margin-top:15px;margin-left:100px;}
/*.post_action button{padding:0 6px;font-size: 12px;}*/
td.post_l{/*width:120px;*/text-align:left;}
td.post_r{/*width:120px;*/text-align:right;}
td.post_c{/*width:120px;*/text-align:center;}

/*分页样式*/
#listpage .pagination{margin-left: 20px;}
#listpage .pagination li{margin: 2px;}
#listpage .pagination li a{color:#fff;padding:2px 8px;background:#00BE9C;border-radius:4px;}
#listpage .pagination li span{padding:2px 8px;color:#fff;}
.active,.disabled{background:darkcyan;border-radius:4px;}



